In [1]:
from requests import get

url = 'http://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&page=1'
# If you see the url then you will see that url has different parameters after question mark and if you naviagte through pages
# you will see that only values of parameter changes there you can write a script with the all parammeter as our featureset
response = get(url)
print(response.text[:500])

<!DOCTYPE html>
<html
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-itunes-app" content="app-id=342792525, app-argument=imdb:///?src=mdot">



        <script type="text/javascript">var IMDbTimer={starttime: new Date().getTime(),pt:'java'};</script>

<script>
    if (typeof uet == 'function') {
      uet("bb", "LoadTitle"

In [2]:
from bs4 import BeautifulSoup

html_soup = BeautifulSoup(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

In [3]:
# Using google developer tool when we inspect the movies we will see that feature set values reside in div container of
# class=lister-item mode advanced
movie_containers = html_soup.find_all('div', class_ = 'lister-item mode-advanced')
print(type(movie_containers))
print(len(movie_containers))

<class 'bs4.element.ResultSet'>
50

In [4]:
#Extracting the data from one movie first
first_movie = movie_containers[0]
first_movie

<div class="lister-item mode-advanced">
<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt3315342"></div>
</div>
<div class="lister-item-image float-left">
<a href="/title/tt3315342/?ref_=adv_li_i"> <img alt="Logan" class="loadlate" data-tconst="tt3315342" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BYzc5MTU4N2EtYTkyMi00NjdhLTg3NWEtMTY4OTEyMzJhZTAzXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/large/film-184890147._CB499613450_.png" width="67"/>
</a> </div>
<div class="lister-item-content">
<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt3315342/?ref_=adv_li_tt">Logan</a>
<span class="lister-item-year text-muted unbold">(2017)</span>
</h3>
<p class="text-muted ">
<span class="certificate">A</span>
<span class="ghost">|</span>
<span class="runtime">137 min</span>
<span class="ghost">|</span>
<span class="genre">
Action, Drama, Sci-Fi            </span>
</p>
<div class="ratings-bar">
<div class="inline-block ratings-imdb-rating" data-value="8.1" name="ir">
<span class="global-sprite rating-star imdb-rating"></span>
<strong>8.1</strong>
</div>
<div class="inline-block ratings-user-rating">
<span class="userRatingValue" data-tconst="tt3315342" id="urv_tt3315342">
<span class="global-sprite rating-star no-rating"></span>
<span class="rate" data-no-rating="Rate this" data-value="0" name="ur">Rate this</span>
</span>
<div class="starBarWidget" id="sb_tt3315342">
<div class="rating rating-list" data-auth="" data-ga-identifier="" data-starbar-class="rating-list" data-user="" id="tt3315342|imdb|8.1|8.1|||search|title" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" title="Users rated this 8.1/10 (495,008 votes) - click stars to rate">
<meta content="8.1" itemprop="ratingValue"/>
<meta content="10" itemprop="bestRating"/>
<meta content="495008" itemprop="ratingCount"/>
<span class="rating-bg"> </span>
<span class="rating-imdb " style="width: 113.4px"> </span>
<span class="rating-stars">
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>1</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>2</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>3</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>4</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>5</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>6</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>7</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>8</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>9</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>10</span></a>
</span>
<span class="rating-rating "><span class="value">8.1</span><span class="grey">/</span><span class="grey">10</span></span>
<span class="rating-cancel "><a href="/title/tt3315342/vote?v=X;k=" rel="nofollow" title="Delete"><span>X</span></a></span>
 </div>
</div>
</div>
<div class="inline-block ratings-metascore">
<span class="metascore favorable">77        </span>
        Metascore
            </div>
</div>
<p class="text-muted">
    In the near future, a weary Logan cares for an ailing Professor X, somewhere on the Mexican border. However, Logan's attempts to hide from the world, and his legacy, are upended when a young mutant arrives, pursued by dark forces.</p>
<p class="">
    Director:
<a href="/name/nm0003506/?ref_=adv_li_dr_0">James Mangold</a>
<span class="ghost">|</span>
    Stars:
<a href="/name/nm0413168/?ref_=adv_li_st_0">Hugh Jackman</a>,
<a href="/name/nm0001772/?ref_=adv_li_st_1">Patrick Stewart</a>,
<a href="/name/nm6748436/?ref_=adv_li_st_2">Dafne Keen</a>,
<a href="/name/nm2933542/?ref_=adv_li_st_3">Boyd Holbrook</a>
</p>
<p class="sort-num_votes-visible">
<span class="text-muted">Votes:</span>
<span data-value="495008" name="nv">495,008</span>
<span class="ghost">|</span> <span class="text-muted">Gross:</span>
<span data-value="226,277,068" name="nv">$226.28M</span>
</p>
</div>
</div>

In [5]:
# Since the content is long so i am again using dev tools to find out movies name and all data
first_movie.div

<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt3315342"></div>
</div>

In [6]:
first_movie.a

<a href="/title/tt3315342/?ref_=adv_li_i"> <img alt="Logan" class="loadlate" data-tconst="tt3315342" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BYzc5MTU4N2EtYTkyMi00NjdhLTg3NWEtMTY4OTEyMzJhZTAzXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/large/film-184890147._CB499613450_.png" width="67"/>
</a>

In [7]:
first_movie.h3

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt3315342/?ref_=adv_li_tt">Logan</a>
<span class="lister-item-year text-muted unbold">(2017)</span>
</h3>

In [8]:
first_movie.h3.a

In [9]:
first_name = first_movie.h3.a.text
first_name

'Logan'

In [10]:
# Release year extraction
first_year = first_movie.h3.find('span', class_ = 'lister-item-year text-muted unbold')
first_year

In [11]:
first_year = first_year.text
first_year

'(2017)'

In [12]:
# Rating Extraction
first_movie.strong

In [13]:
first_imdb = float(first_movie.strong.text)
first_imdb

8.1

In [14]:
#Extracting metascore
first_mscore = first_movie.find('span', class_ = 'metascore favorable')

first_mscore = int(first_mscore.text)
print(first_mscore)

77

In [15]:
# Extracting no of votes
first_votes = first_movie.find('span', attrs = {'name':'nv'})
first_votes

In [16]:
first_votes['data-value']

'495008'

In [17]:
first_votes = int(first_votes['data-value'])

In [18]:
eighth_movie_mscore = movie_containers[7].find('div', class_ = 'ratings-metascore')
type(eighth_movie_mscore)

bs4.element.Tag

In [19]:
# Lists to store the scraped data in
names = []
years = []
imdb_ratings = []
metascores = []
votes = []

# Extract data from individual movie container
for container in movie_containers:

    # If the movie has Metascore, then extract:
    if container.find('div', class_ = 'ratings-metascore') is not None:

        # The name
        name = container.h3.a.text
        names.append(name)

        # The year
        year = container.h3.find('span', class_ = 'lister-item-year').text
        years.append(year)

        # The IMDB rating
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)

        # The Metascore
        m_score = container.find('span', class_ = 'metascore').text
        metascores.append(int(m_score))

        # The number of votes
        vote = container.find('span', attrs = {'name':'nv'})['data-value']
        votes.append(int(vote))

In [20]:
# Now checking the data collected using pandas
import pandas as pd

test_df = pd.DataFrame({'movie': names,
                       'year': years,
                       'imdb': imdb_ratings,
                       'metascore': metascores,
                       'votes': votes})
print(test_df.info())
test_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 5 columns):
imdb         47 non-null float64
metascore    47 non-null int64
movie        47 non-null object
votes        47 non-null int64
year         47 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 1.9+ KB
None

,imdb,metascore,movie,votes,year
0,8.1,77,Logan,495008,(2017)
1,7.5,76,Wonder Woman,424943,(2017)
2,8.0,94,Dunkirk,404426,(2017)
3,7.3,85,Star Wars: Episode VIII - The Last Jedi,400082,(2017)
4,7.7,67,Guardians of the Galaxy Vol. 2,395480,(2017)
5,7.9,74,Thor: Ragnarok,361464,(2017)
6,7.5,73,Spider-Man: Homecoming,341792,(2017)
7,7.7,84,Get Out,318614,(I) (2017)
8,8.1,81,Blade Runner 2049,313668,(2017)
9,7.7,86,Baby Driver,310975,(2017)
10,7.4,69,It,290288,(I) (2017)
11,6.6,45,Justice League,266729,(2017)
12,8.2,88,"Three Billboards Outside Ebbing, Missouri",256371,(2017)
13,7.5,75,John Wick: Chapter 2,235918,(2017)
14,7.4,87,The Shape of Water,233177,(2017)
15,7.2,65,Beauty and the Beast,211250,(2017)
16,6.7,62,Kong: Skull Island,210843,(2017)
17,6.4,65,Alien: Covenant,204065,(2017)
18,6.6,39,Pirates of the Caribbean: Dead Men Tell No Tales,200531,(2017)
19,8.4,81,Coco,197826,(I) (2017)
20,6.8,44,Kingsman: The Golden Circle,190234,(2017)
21,7.0,58,Jumanji: Welcome to the Jungle,184095,(2017)
22,7.5,82,War for the Planet of the Apes,178316,(2017)
23,6.7,56,The Fate of the Furious,163941,(2017)
24,6.6,54,Life,160839,(I) (2017)
25,6.4,52,Ghost in the Shell,156236,(2017)
26,6.8,41,King Arthur: Legend of the Sword,151823,(2017)
27,6.5,52,Murder on the Orient Express,145050,(2017)
28,7.7,48,The Greatest Showman,140338,(2017)
29,6.9,47,The Hitman's Bodyguard,137585,(2017)
30,5.5,34,The Mummy,136527,(2017)
31,7.5,94,Lady Bird,135961,(2017)
32,7.8,73,Wind River,133298,(2017)
33,6.4,29,Bright,130725,(I) (2017)
34,6.7,63,Atomic Blonde,129170,(2017)
35,6.7,75,Mother!,125379,(2017)
36,6.5,51,Valerian and the City of a Thousand Planets,121524,(2017)
37,8.0,93,Call Me by Your Name,115784,(2017)
38,5.6,37,Baywatch,111152,(2017)
39,7.2,65,American Made,107663,(2017)
40,7.4,75,Darkest Hour,104791,(2017)
41,5.2,27,Transformers: The Last Knight,102759,(2017)
42,7.3,75,The Lego Batman Movie,102133,(2017)
43,7.5,77,"I, Tonya",100826,(2017)
44,5.7,34,The Dark Tower,93691,(2017)
45,7.6,86,The Big Sick,89705,(2017)
46,7.0,78,Logan Lucky,87647,(2017)

In [21]:
# To accept all the result in american english
headers = {"Accept-Language": "en-US, en;q=0.5"}

In [22]:
# Now scraping multiple pages
# scraping each year of 4 pages in the interval 2000-2017 i.e. scraping total 72 pages
# Kishan you can increase the range to increase the size of training data
pages = [str(i) for i in range(1,5)]
years_url = [str(i) for i in range(2000,2018)]

In [23]:
# Avoiding the disrupting of website continuously I am using sleep function which will pause the execution of loop for specific amount of time
from time import sleep
from random import randint

In [24]:
from time import time

start_time = time()
requests = 0

for _ in range(5):
    # A request would go here
    requests += 1
    sleep(randint(1,3))
    elapsed_time = time() - start_time
    print('Request: {}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))

Request: 1; Frequency: 0.499439154049022 requests/s
Request: 2; Frequency: 0.6659589975868278 requests/s
Request: 3; Frequency: 0.7491344230895286 requests/s
Request: 4; Frequency: 0.6658728843319432 requests/s
Request: 5; Frequency: 0.7134223943353265 requests/s

In [25]:
from IPython.core.display import clear_output

start_time = time()
requests = 0

for _ in range(5):
    # A request would go here
    requests += 1
    sleep(randint(1,3))
    current_time = time()
    elapsed_time = current_time - start_time
    print('Request: {}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
    clear_output(wait = True)

Request: 5; Frequency: 0.4986808861028828 requests/s

In [26]:
from warnings import warn

warn("Warning Simulation")

/home/mukut/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Warning Simulation
  This is separate from the ipykernel package so we can avoid doing imports until

In [27]:
# Redeclaring the lists to store data in
names = []
years = []
imdb_ratings = []
metascores = []
votes = []

# Preparing the monitoring of the loop
start_time = time()
requests = 0

# For every year in the interval 2000-2017
for year_url in years_url:

    # For every page in the interval 1-4
    for page in pages:

        # Make a get request
        response = get('http://www.imdb.com/search/title?release_date=' + year_url + 
        '&sort=num_votes,desc&page=' + page, headers = headers)
        
        # Pause the loop
        sleep(randint(8,15))

        # Monitor the requests
        requests += 1
        elapsed_time = time() - start_time
        print('Request:{}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
        clear_output(wait = True)

        # Throw a warning for non-200 status codes
        if response.status_code != 200:
            warn('Request: {}; Status code: {}'.format(requests, response.status_code))

        # Break the loop if the number of requests is greater than expected
        if requests > 72:
            warn('Number of requests was greater than expected.')  
            break 

        # Parse the content of the request with BeautifulSoup
        page_html = BeautifulSoup(response.text, 'html.parser')

        # Select all the 50 movie containers from a single page
        mv_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')

        # For every movie of these 50
        for container in mv_containers:
            # If the movie has a Metascore, then:
            if container.find('div', class_ = 'ratings-metascore') is not None:

                # Scrape the name
                name = container.h3.a.text
                names.append(name)

                # Scrape the year 
                year = container.h3.find('span', class_ = 'lister-item-year').text
                years.append(year)

                # Scrape the IMDB rating
                imdb = float(container.strong.text)
                imdb_ratings.append(imdb)

                # Scrape the Metascore
                m_score = container.find('span', class_ = 'metascore').text
                metascores.append(int(m_score))

                # Scrape the number of votes
                vote = container.find('span', attrs = {'name':'nv'})['data-value']
                votes.append(int(vote))
                # this will take around 15-20 minutes for 72 requests and extract the data which contain the information
                # of 3000 movies. Due to this time factor I make only 72 requests for 3000 movies but if you want to increase the
                # size of data between 10k-15k as discussed earlier you only need to change the value of i at In[22]

Request:72; Frequency: 0.05886848263344498 requests/s

In [34]:
training_data = pd.DataFrame({'movie': names,
                              'year': years,
                              'imdb': imdb_ratings,
                              'metascore': metascores,
                              'votes': votes})
print(training_data.info())
training_data.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2949 entries, 0 to 2948
Data columns (total 5 columns):
imdb         2949 non-null float64
metascore    2949 non-null int64
movie        2949 non-null object
votes        2949 non-null int64
year         2949 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 115.3+ KB
None

   imdb  metascore                   movie    votes    year
0   8.5         67               Gladiator  1142269  (2000)
1   8.5         80                 Memento   980806  (2000)
2   8.3         55                  Snatch   686888  (2000)
3   8.3         68     Requiem for a Dream   666355  (2000)
4   7.4         64                   X-Men   512266  (2000)
5   7.8         73               Cast Away   450160  (2000)
6   7.6         64         American Psycho   409084  (2000)
7   7.3         62             Unbreakable   296798  (2000)
8   7.0         73        Meet the Parents   284204  (2000)
9   6.1         59  Mission: Impossible II   271257  (2000)

In [35]:
training_data = training_data[['movie', 'year', 'imdb', 'metascore', 'votes']]
training_data.head()

                 movie    year  imdb  metascore    votes
0            Gladiator  (2000)   8.5         67  1142269
1              Memento  (2000)   8.5         80   980806
2               Snatch  (2000)   8.3         55   686888
3  Requiem for a Dream  (2000)   8.3         68   666355
4                X-Men  (2000)   7.4         64   512266

In [36]:
training_data['year'].unique()

array(['(2000)', '(I) (2000)', '(2001)', '(I) (2001)', '(2002)',
       '(I) (2002)', '(2003)', '(I) (2003)', '(2004)', '(I) (2004)',
       '(2005)', '(I) (2005)', '(2006)', '(I) (2006)', '(2007)',
       '(I) (2007)', '(2008)', '(I) (2008)', '(2009)', '(I) (2009)',
       '(II) (2009)', '(2010)', '(I) (2010)', '(II) (2010)', '(2011)',
       '(I) (2011)', '(IV) (2011)', '(2012)', '(I) (2012)', '(II) (2012)',
       '(2013)', '(I) (2013)', '(II) (2013)', '(2014)', '(I) (2014)',
       '(II) (2014)', '(III) (2014)', '(2015)', '(I) (2015)',
       '(II) (2015)', '(VI) (2015)', '(III) (2015)', '(2016)',
       '(II) (2016)', '(I) (2016)', '(IX) (2016)', '(V) (2016)', '(2017)',
       '(I) (2017)', '(III) (2017)', '(II) (2017)'], dtype=object)

In [37]:
training_data.loc[:, 'year'] = training_data['year'].str[-5:-1].astype(int)

In [38]:
training_data['n_imdb'] = training_data['imdb'] * 10
training_data.head(3)

       movie  year  imdb  metascore    votes  n_imdb
0  Gladiator  2000   8.5         67  1142269    85.0
1    Memento  2000   8.5         80   980806    85.0
2     Snatch  2000   8.3         55   686888    83.0

In [39]:
training_data.to_csv('training_dataset.csv')

In [ ]:
# By increasing the value of i we can scrape the more no of pages to increase the training data